<!doctype html>
<html>
<head>
  <style>
    .done {background-color: #DFD;}
    .editing {background-color: #FFD;}

    h2 {color: blue;}

    textarea{
      width:500px;
      height:100px;
    }
    input{
      width:500px;
    }

    #submit {background-color: green; font-weight: bold; font-color: white;}


    body {margin: 20px 10px 50px 10px;}
  </style>
</head>
<body
{{ if (listing.done) 'class="done"';
   else if (listing.done === false) 'class="editing"'; }}
>
  <h1>Crosspost Instructions</h1>
  {{ if (listing.done) '<h2>This listing has been crossposting</h2>'; }}
  {{ if (listing.done === false) '<h2>This listing is being crossposted by someone else</h2>'; }}

  <h3>Title</h3>
  <input type="text" value="{{ title }}">

  <h3>Price</h3>
  <input type="text" value="{{listing.price}}">

  <h3>Location</h3>
  <a href="http://maps.google.com/?q=loc:{{listing.latitude}},{{listing.longitude}}&z=16">
      Google Maps</a><br>
  <input type="text" value="{{address}}">

  <h3>Description</h3>
  <textarea>{{ listing.description }}</textarea>

  <h3>Email</h3>
  <input value="{{ listing.email }}">

  <h3>Image</h3>
  <img src="/static/{{listing.photo}}">

  {{
    if (!listing.done)
      '<br /><br /><form method="GET">' +
        '<input type="hidden" name="done" value="true">' +
        '<input type="submit" value="Mark Done" id="submit">' +
      '</form>';

  }}

</body>
<html>
