
    </td>
    <td style="
      border-right:1px solid #999;
      width:10px;" width="10"></td>
  </tr>
  <tr><td style="
        height:10px;
        border-left:1px solid #999;
        border-right:1px solid #999;
        border-bottom:1px solid #999;
      " height="20" colspan="5"></td></tr>
    </table>
  </td></tr>
  <tr><td style="height:5px;" height="5" background="{{ settings.clientUri }}/img/bg.png"></td></tr>
  <tr><td background="{{ settings.clientUri }}/img/bg.png" style="
    text-align:center;
    color:#777;
    font-size:12px;">

    <a href="http://beta.hipsell.com/about" style="color:#5f5f5f;">About</a> |
    <a href="http://twitter.com/hipsellapp" style="color:#5f5f5f;">Twitter</a> |
    <a href="http://facebook.com/hipsell" style="color:#5f5f5f;">Facebook</a>
  </td></tr>
  <tr><td style="height:40px;" height="40" background="{{ settings.clientUri }}/img/bg.png"></td></tr>
</table>
</body></html>
