<!DOCTYPE html>
<html>
<head>
  <style>
    a {color: #1B75BB;}
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body style="
  margin:0;
  padding:0;
  background-color:#e5e5e7;
  background-image: url({{ settings.clientUri }}/img/bg.png);
" background="{{ settings.clientUri }}/img/bg.png">

<table border="0" cellpadding="0" cellspacing="0"  style="
  margin:0;
  padding:0;
  width:100%;
  background-color:#e5e5e7;
  background-image: url({{ settings.clientUri }}/img/bg.png);
  font-family: arial, sans-serif;
">

  <tr><td style="height:40px;" height="40" background="{{ settings.clientUri }}/img/bg.png"></td></tr>

  <tr><td background="{{ settings.clientUri }}/img/bg.png">
    <table border="0" cellpadding="0" cellspacing="0" style="
      width:500px;
      margin:0 auto;
      padding:0;
      background-color:#F1F1F2;
    ">
      <tr>
        <td colspan="5" background="{{ settings.clientUri }}/img/ab_bg.png" height="50" style="
          background-color:#3F74B2;
          background-image:url({{ settings.clientUri }}/img/ab_bg.png);
          background-repeat:repeat-x;
          height:50px;
          border:1px solid #444;
          border-bottom:1px solid #555;
        ">
          <a href="{{ settings.clientUri }}">
            <img src="{{ settings.clientUri }}/img/ab_logo.png" alt="Hipsell" style="
              width:176px;
              height:34px;
              color:#F1F1F2;
              font-size:16px;
              margin-left:20px;
              margin-top: 4px;
              border: none;">
          </a>
        </td>
      </tr>
      <tr><td style="
        height:20px;
        border-left:1px solid #999;
        border-right:1px solid #999;
      " height="20" colspan="5"></td></tr>
      <tr>
        <td style="
          border-left:1px solid #999;
          width:10px;
        " width="10"></td>
        <td>
