{{ include('_header') }}

<table>
  <tr>
    <td colspan="3" style="color:#444;font-size:14px;">
      <p style="margin-top: 0;">This item is still <span style="font-weight:bold;color:#009345;">Available</span>.
      The seller has listed their item using <a href="http://hipsell.com" style="color:#1b75bb;">Hipsell</a>
      &ndash; the easiest way to buy and sell. To view the listing,
      click <a href="{{ settings.clientUri + '/' + listing._id }}" style="color:#1b75bb;">here</a>
      or use the buttons below.</p>
      <p>We've also sent your message along to the seller; we'll email
      you back with their response.</p>
    </td>
  </tr>

  <tr height="47" style="height: 47px;">
    <td height="41" width="225" background="{{ settings.clientUri }}/img/button_bg.png"
        style="height: 41px;
               width: 225px;
               background-color: #009345;
               background-image: url({{ settings.clientUri }}/img/button_bg.png);
               background-repeat: no-repeat;
               border: none;
               font-weight: bold;
               font-size: 17px;
               color: #F1F1F2;
               text-align: center;">
      <a href="{{ settings.clientUri + '/' + listing._id }}"
         style="color: #F1F1F2;
                vertical-align: middle;
                text-decoration: none;
                text-shadow: 0 -1px 1px #1B1B1B;
                padding: 12px 50px 12px 50px;">
        Ask a Question</a>
    </td>
    <td width="20"
        style="width: 20px;"></td>
    <td height="41" width="225" background="{{ settings.clientUri }}/img/button_bg.png"
        style="height: 41px;
               width: 225px;
               background-color: #009345;
               background-image: url({{ settings.clientUri }}/img/button_bg.png);
               background-repeat: no-repeat;
               border: none;
               font-weight: bold;
               font-size: 17px;
               color: #F1F1F2;
               text-align: center;">
      <a href="{{ settings.clientUri + '/' + listing._id }}"
         style="color: #F1F1F2;
                text-decoration: none;
                text-shadow: 0 -1px 1px #1B1B1B;
                padding: 12px 55px 12px 55px;">
        Make an Offer</a>
    </td>
  </tr>
</table>


{{ include('_footer') }}
